.booking-box{
  height: 100vh;
  width: 100vw;
  background-color: #26374b;
  color: white;
}

.ticket{
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.ticket img{
  width: 100%;
}

#booking{
  position: absolute;
  right: 8%;
}

#booking h1{
  font-weight: bolder;
  font-size: 2.4vw;
}

#booking h2{
  font-size: 2vw;
}